.card{
    border: 1.9px solid;
    border-image:  
    linear-gradient( 
        #ff512f,
        #dd2476,
        #1c64ff) 1;
     animation: rotate
     2.5s
     ease-in
     infinite;   
}
@keyframes rotate{
    50%{
        border-image:
        linear-gradient( 
        360deg,
        #ff512f,
        #dd2476,
        #1c64ff) 1;

    }
}


.card-img-top{
    align-items: center;
    
    margin-top: 1px;
    /* margin-left: 1px; */
    margin-right: 6px;
    border-radius: 8%;
    padding: 3%;
    height: 70mm;
    width: 89.5mm;
}
.card-text{
    text-align: left;
}
.btn-outline-primary{
    width:135px;
    color:white;
    background-color: #0c99d1;
    box-shadow: #094c66 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
}
.btn-outline-primary{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}
.card-body{
    margin-right: 6%;
}
.card-img-top{
   align-items: center;
}
.row{
    width: 100%;
}