<div class="body">
    <table class="table">
        <thead>
            <tr style="border:2px solid rgb(3,2,46);">
            <th scope="col"><b>Train No.</b></th>
            <th scope="col"><b>Train Name</b></th>
            <th scope="col"><b>Source</b></th>
            <th scope="col"><b>Destination</b></th>
            <th scope="col"><b>Departure</b></th>
            <th scope="col"><b>Arrival</b></th>
            <th scope="col"><b>Seats Available</b></th>
            <th scope="col"><b>Journey Days</b></th>
            </tr>
        </thead>
        <tbody *ngFor="let train of trains">
            <tr>
                <td>{{train.trainnumber}}</td>
                <td>{{train.trainname}}</td>
                <td>{{train.source}}</td>
                <td>{{train.destination.destination}}</td>
                <td>{{train.departure}}</td>
                <td>{{train.arrival}}</td>
                <td>{{train.seats}}</td>
                <td>{{train.journeyday}}</td>
          
                <i class="fa fa-pencil-square-o" aria-hidden="true" type="button" data-bs-toggle="modal" data-bs-target="#edit"></i>
                <i class="fa fa-trash-o" (click)="delete(train)" aria-hidden="true"></i>
            </tr>
         
        </tbody>
         
    </table>    
    </div> 
    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >
        ADD TRAINS
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">NEW TRAIN FORM</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
                
    
    
                <!-- ADD FORM -->
                <form #trainform="ngForm" (ngsubmit)="onFormSubmit(trainform)">
                    <div class="form-group">
                        <label for="destination">Train No.</label>
                        <input type="text" class="form-control" id="trainno"
                        [(ngModel)]="newtrain.trainnumber" name="trainno">
                    </div>
                    <div class="form-group">
                        <label for="name">Train Name</label>
                        <input type="text" class="form-control" id="trainname"
                        [(ngModel)]="newtrain.trainname" name="trainname">
                    </div>
                    <div class="form-group">
                        <label for="name">Source</label>
                        <input type="text" class="form-control" id="source"
                        [(ngModel)]="newtrain.source" name="source">
                    </div>
                    <div class="form-group">
                    <label for="name">Departure</label>
                    <input type="text" class="form-control" id="departure"
                    [(ngModel)]="newtrain.departure" name="departure">
                    </div>
                    <div class="form-group">
                        <label for="name">Arrival</label>
                        <input type="text" class="form-control" id="arrival"
                        [(ngModel)]="newtrain.arrival" name="arrival">
                        </div>
                        <div class="form-group">
                            <label for="name">Seats Available</label>
                            <input type="number" class="form-control" id="seats"
                            [(ngModel)]="newtrain.seats" name="seats">
                            </div>
                            <div class="form-group">
                              <label for="name">Journey Days</label>
                              <input type="text" class="form-control" id="journeydays"
                              [(ngModel)]="newtrain.journeyday" name="journeydays">
                              </div>      
                            <div class="form-group">
                                <label for="destination">Select Destination</label>
                                <select class="form-control" [(ngModel)]="newtrain.destination" name="destination">
                                    <option *ngFor="let destination of destinations" [value]="destination.id">
                                        {{destination.destination}}
                                    </option>
                                </select>
                            </div>  
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"(click)=" onFormSubmit(newtrain)">add</button>
                        </div>
    
                </form>
    
    
    
            </div>
        </div>
        </div>
      </div>
<router-outlet></router-outlet>