<div class="container" >
  <div class="col-sm-6 box">
    <form [formGroup]= "details">
    <div class="form-group">
        <label>Passenger Name</label>
        <input type="Name" required class="form-control" formControlName="name" placeholder="Enter Name">
        <span class="error" *ngIf= "name?.invalid && name?.touched">Name is required!</span>
    </div><br>
    <div class="form-group">
        <label>Age</label>
        <input type="number" required class="form-control" formControlName="age" placeholder="Enter Age">
        <span class="error" *ngIf= "age?.invalid && age?.touched">Age is required!</span>
    </div><br>
    <div class="form-group">
        <label>Enter Contact No.</label>
        <input type="number" required class="form-control" formControlName="number" placeholder="Enter Contact Number">
        <span class="error" *ngIf= "number?.invalid && number?.touched">Contact No. is required!</span>
    </div><br>
      <div class="form-group">
        <label>Enter Gender</label>
        <input type="text" required class="form-control" formControlName="gender" placeholder="Enter Gender"><br>
        <span class="error" *ngIf= "number?.invalid && number?.touched">Gender is required!</span>
     <div class="form-row mt-4">
      <div class="col md-6">  
</div>
</div></div>
</form> 

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    SUBMIT
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">PROCEED TO PAYMENT ?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Clicking yes will take you to a payment gateway, Proceed ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="proceed()">Yes</button>
        </div>
      </div>
    </div>
  </div></div></div>
  <router-outlet></router-outlet>
    
