
<div class="container">
  
<form>
    <div class="form-group">
        <label for="cardholder">Card Holder Name :</label>
          <span> <input type="text" size="30" class="form-control" formControlName="cardholdername" placeholder="Enter Card Holder Name" >
          </span>
    </div>

    <div class="form-group">
        <label for="cardnumber">Card Number :</label>
            <input type="number" class="form-control" formControlName="cardnumber" placeholder="Enter Card Number">
    </div>

    <div class="form-group">
        <label for="expiration">Expiration (MM/YY) : </label>
            <input type="text" class="form-control" formControlName="expiration" placeholder="MM/YY">
            
    </div>
    
    <div class="form-group">
        <label for="cvc">CVC :</label>
            <input type="number" class="form-control" formControlName="cvc" placeholder="CVC">
    </div><br><br>
            
    <div class="pay-btn">
        <input type="submit" class="btn btn-info btn-lg"  (click)="paynow()"  value="Pay Now">
    </div>

</form>

</div>
<router-outlet></router-outlet>
